# Postgres (суперпользователь)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Postgres (user_service)
USER_SERVICE_DB_NAME=
USER_SERVICE_DB_USER=
USER_SERVICE_DB_PASSWORD=

# Postgres (profile_service)
PROFILE_SERVICE_DB_NAME=
PROFILE_SERVICE_DB_USER=
PROFILE_SERVICE_DB_PASSWORD=

# RMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE=

# Nginx API Gateway
USER_SERVICE_PORT=8001
PROFILE_SERVICE_PORT=8002

# JWT Validator (Python)
JWT_VALIDATOR_PORT=9090
JWT_SECRET=
JWT_ALGORITHM=HS256

# Rate Limiting
RATE_LIMIT_GLOBAL=10r/s
RATE_LIMIT_USER_SERVICE=20r/s
RATE_LIMIT_PROFILE_SERVICE=20r/s
RATE_LIMIT_AUTH=5r/s
